<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="120 seconds">
      <property name="LOG_HOME" value="/opt/services/logs/remittance-e-reciept/logs" />
<!--    <property name="LOG_HOME" value="D:\\WorkspaceJAVA\\GIT\\remittance-e-reciept\\logs" />-->

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{"yyyy-MM-dd' 'HH:mm:ss.SSSS"}] [%thread] %logger %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <file>${LOG_HOME}/RemitEreceipt.log</file>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd'T'HH:mm:ss,SSSZZZ"}] %-5level [%thread]%logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archived/RemitEreceipt.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!-- <maxHistory>150</maxHistory> -->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="ERROR_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/RemitEreceiptError.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex{full}
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archived/RemitEreceiptError.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- <maxHistory>1000</maxHistory> -->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR_LOG" />
    </root>

</configuration>
